body{
    background-image: linear-gradient(to right, rgba(12, 160, 160, 0.849),rgba(0, 110, 255, 0.603));
text-transform: capitalize;
color: #fff;
}
    .nav h1{
        color:#fff;
        background-color:#0003057c ;
        border-radius: 20px;
        text-align: center !important;
        padding: 5px ;
        margin-bottom: 0% ;
    }
    .nav h3{
        color:#fff;
        border-radius: 20px;
        text-align: center !important;
        padding: 0% ;
    }
    .loc a{
        text-decoration: none;
        color: white;
        font-size:20px; 
        width:150px !important;
        border-radius: 30px;
        background-color: #3e8992 !important;
         
        margin: 4% !important;
        height: 30px;
        padding-top: 7px;
        padding-bottom: 5px;
    }
    .loc  {
        text-align: left;
        font-weight: 900;
        text-align: center;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
       }
       @media (min-width:601px) and (max-width:767px) {
        .loc  {
            text-align: left;
            font-weight: 900;
            text-align: center;
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap:45px;
           } /* end footer */
    }
    
    /* medium screens */
    @media (min-width:768px) and (max-width:791px) {
    
        .loc  {
            text-align: left;
            font-weight: 900;
            text-align: center;
            
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap:45px;
           } /* end footer */
    }
    
    /*  large screens */
    @media (min-width:792px) and (max-width:940px) {
        /* start footer */
        .loc  {
            text-align: left;
            font-weight: 900;
            text-align: center;
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap:45px;
           } /* end footer */
    }
    
    @media (min-width:941px) and (max-width:1200px) {
        /* start footer */
        .loc  {
            text-align: left;
            font-weight: 900;
            text-align: center;
            
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap:45px;
           } /* end footer */
    }
    @media (min-width:1201px) and (max-width:1399px) {
        /* start footer */
        .loc  {
            text-align: left;
            font-weight: 900;
            text-align: center;
            
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap:45px;
           } /* end footer */
    }
    
    /* extra large screens */
    @media (min-width:1400px) and (max-width:3700px) {
        .loc  {
            text-align: left;
            font-weight: 900;
            text-align: center;
            
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap:45px;
           } /* end footer */
    }
    
        /* end footer */
  