body{
    background-image: linear-gradient(to right, rgba(12, 160, 160, 0.849),rgba(0, 110, 255, 0.603));
text-transform: capitalize;
color: #fff;
}
.img1{
    text-align: center;
    margin-top: 20px;
}
.img1 img{
width: 100px !important;
height: 100px;
}
.img1 h2{
color: #fff;
margin-bottom: 2% !important;
}
.img1 p{
    color: #fff;
    margin-top: 0% !important;
}
/* start btn */
/* .btns{
     */
.xx a{
    text-decoration: none;
    color: white;
    width: 200px !important;
    font-size:20px; 
    width: 300px !important;
    border-radius: 30px;
    background-color: #3e8992 !important;
    
    display: block; 
    margin: 4% !important;

    height: 30px;
    padding-top: 7px;
    padding-bottom: 5px;
}
.xx  {
text-align: left;
font-weight: 900;
justify-content: space-between;
}
.xx h1{
    color: white;
    margin-top:30px;
 }
 .xx p{
    margin: 0% !important;
    padding: 0% !important;
 }
 .red{
   color: #fff;
 }